include ngshare/dump.html
include ngshare/favicon.ico
include ngshare/home.html
include ngshare/masonry.min.js
include ngshare/alembic.ini
include ngshare/alembic/env.py
include ngshare/alembic/script.py.mako
include ngshare/alembic/versions/*.py
