# Override the ngshare name, if you want to
nameOverride: ""
fullnameOverride: ""

# Where to pull the ngshare image
image:
  repository: libretexts/ngshare
  pullPolicy: IfNotPresent
  imagePullSecrets: []
  tag: 'set-by-chartpress'

# Configure the deployment and service
deployment:
  # Numbers of ngshare replicas to make
  # WARNING: Anything greater than 1 is not tested
  replicaCount: 1

  # Strategy for redeployment https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
  strategy: {}

  # Port to expose on the ClusterIP service. Shouldn't matter that much.
  port: 8080

  # Add group permissions to read/write to the PV
  fsGroup: 1000

  # Resource limitations for the pod
  resources: {}
    # Define like this:
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  # Additional stuff that might be useful when you're configuring things
  selectorLabels: []
  nodeSelector: {}
  tolerations: []
  affinity: {}

  initContainers: []


# Configure environment / cmdline passed to ngshare
ngshare:
  # List of users that have elevated permissions on ngshare. Please use their username for JupyterHub.
  # Only these users can create, delete, and manage instructors for courses.
  # They also have full access to every course. Keep this in mind when assigning admins.
  admins: []

  # JupyterHub API url, without the trailing slash
  # If you are installing ngshare in the same namespace as Z2JH
  # and you didn't modify the Z2JH helm chart itself, this value should be right
  hub_api_url: http://hub:8081/hub/api

  # Not sure what this is, frankly, so leaving it configurable
  hub_base_url: /

  # API token to talk to the hub with
  # If left empty, a random one will be generated at install time
  hub_api_token: ""

  # Enable debug mode. Do not turn this on in production as it dumps a lot of critical info to users.
  debug: false

  # Automatically upgrade database using alembic on start
  # If disabled, manual intervention might be required when upgrading ngshare
  # Please leave this on unless you know what you're doing.
  upgrade_db: true

  # Additional environment variables
  env: {}

  # Additional cmdline arguments for advanced configuration
  args: []

# PVC Storage to allocate to ngshare
pvc:
  # Amount of storage to allocate
  storage: 1Gi

  # Additional configs if you have custom needs like specifying a storageclass
  annotations: {}
  selector: {}
  storageClassName: ""
  accessModes:
  - ReadWriteMany
